@{
    ViewData["Title"] = "Home Page";
    Layout = "_MyLayout";
}



<div class="text-center m-auto w-50">
    <h1>Pizzeria da Davide</h1>
    <div>
        <a class="nav-link text-white" href="@Url.Action("Index","Pizza")"><img src="https://thumbs.dreamstime.com/b/icona-rotonda-del-menu-con-forma-stilizzata-della-forchetta-e-cucchiaio-piatto-i-114711035.jpg" /></a>
        <h3>Sfoglia il Menù</h3>
    </div>
</div>



@section FooterSection{
    <footer class="border-top footer text-white d-flex align-items-center">
        <div class="container ">
            &copy; 2022 - Pizzeria da Davide - <a class="text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
}
