html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("https://pizzeriapaprikarimini.it/wp-content/uploads/2020/07/pizzeria-a-domicilio-rimini-1030x343.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

a{
    color:black;
    text-decoration: inherit;
}

img{
    max-width:100%;
}
.nav.navbar-nav.navbar-right li a {
    color: white;
}

main {
    padding: 2rem 0;
    min-height: 88vh;

}

footer, header{
    height: 50px;
    color: white;
    background-color: black;
    text-align:center;
}


main .pizza_menu img {
    width: 90%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: all 5s ease-in-out 0s;
}


main .pizza_menu img:hover {
    //transform: scale(1.1);
    transform: rotate(360deg);
    transition: all 5s;
}