@model Pizza

@{
    ViewData["Title"] = $"Pizza {Model.Name}";
}

<div class="text-center">

    
    <img width="500px" src="@Model.Image" />
    <h2>@Model.Name</h2>
    <p>@Model.Description</p>
    <p>@Model.Price €</p>

</div>

@section FooterSection{
    <footer class="border-top footer text-white d-flex align-items-center">
        <div class="container ">
            &copy; 2022 - Pizzeria da Davide - <a class="text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
}
